//font
$font-label-light:#929292;
$font-bold-light-gray:#545454;
$font-label:#545454;
//color
$red:#ff5454;
$light-gray:#f3f3f3;
//layout
$border:#ddd;
$light-border:#e9e9e9;
$acolor:#33aee3;
$scroll-color:#333;
$header-gray:#e9e9e9;
//table
$table-border: #ddd;
$border-header:#e9e9e9;
$table-scrollbar-color:#a5a3a3;
$table-strip-color:#efefef;
$table-background-header: #808080 //list